<ion-header>
  <ion-toolbar>
    <ion-title>nuevoMaterial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="datos.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre de autor</ion-label>
    <ion-input [(ngModel)]="datos.nombreAutor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="datos.precio"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="clickCancelar()" color="danger">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!datos.titulo" (click)="clickAceptar()" color="success">
        <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>