<ion-header>
  <ion-toolbar>
    <ion-title>nuevoMaterial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="Datos.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre de autor</ion-label>
    <ion-input [(ngModel)]="Datos.nombreAutor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="Datos.precio" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ISBN</ion-label>
    <ion-input [(ngModel)]="Datos.isbn"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ISSN</ion-label>
    <ion-input [(ngModel)]="Datos.issn"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Edición</ion-label>
    <ion-input [(ngModel)]="Datos.edicion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ubicación</ion-label>
    <ion-input [(ngModel)]="Datos.ubicacion"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="acciones">
      <ion-button (click)="clickCancelar()" color="danger">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!Datos.titulo || Trabajando" (click)="clickAceptar()" color="success">
        <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-spinner [hidden]="!Trabajando"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>